.social-login
    button.social-login__github
        span
            i.fa.fa-github
        | Continue with Github
    button.social-login__facebook
        span
            i.fa.fa-facebook
        | Continue with Facebook