extends layouts/main

block content   
    .form-container
        form(action=`/users`, method="post")
            input(type="text", placeholder="Current Password", name="current password")
            input(type="text", placeholder="New Password", name="New password")
            input(type="text", placeholder="Verify Password", name="Verify password")
            input(type="submit", value="Change Password")
            